@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

/* ---Reset--- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* ---Common--- */
body{
    width: 100%;
    height: 100vh;
    background-image: url(./imgs/back.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.over{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #343638;
    opacity: 0.7;
    z-index: -1;
}

sup{
    font-size: 0.7rem;
}

/* ---Calculator--- */
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 420px;
    width: 100%;
    background-color: #c8d6e5;
    padding: 20px;
    border-radius: 10px;
}

/* Settings */
.wrapper .settings{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .settings .time{
    height: 35px;
    width: 57%;
    border-radius: 10px;
    border: none;
    background-color: #10ac84;
    color: #222f3e;
    outline: none;
    padding: 10px;
    font-size: 0.8rem;
}

.wrapper .settings .switch{
    position: relative;
    background-color: #10ac84;
    margin-left: 10px;
    padding: 5px 10px;
    width: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.wrapper .settings .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
    border-radius: 10px;
    background-color: #aaa69d;
    transition: all 0.3s ease-in;
}

.wrapper .settings .slider::before{
    content: '';
    position: absolute;
    height: 85%;
    width: 50%;
    top: 2px;
    left: 2px;
    background-color: #ecf0f1;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}

.wrapper .settings .switch input{
    display: none;
}

.wrapper .settings label i{
    color: #222f3e;
    font-size: 0.9rem;
}

.wrapper .settings .switch input:checked + .slider{
    background-color: #ff6b6b;
}

.wrapper .settings .switch input:checked + .slider::before{
    transform: translateX(80%);
}

/* Display */
.wrapper .display{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .display .dis{
    resize: none;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    outline: none;
    text-align: right;
    padding: 30px 20px;
    background-color: #ecf0f1;
    color: #222f3e;
    overflow: auto;
}

.wrapper .display .dis1{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 45px;
    background-color: #aaa69d;
}

.wrapper .display .dis2{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* Buttons */
.wrapper .normal .row{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .normal .row .btn{
    max-width: 65px;
    min-height: 65px;
    width: 100%;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    color: #222f3e;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in;
}

.wrapper .normal .row .num{
    background-color: #ff6b6b;
}

.wrapper .normal .row .num:hover{
    background-color: #10ac84;
}

.wrapper .normal .row .op{
    background-color: #10ac84;
    color: #ecf0f1;
}

.wrapper .normal .row .op:hover{
    background-color: #ff6b6b;
}

.wrapper .normal .row .clr{
    background-color: #f1b635;
}

.wrapper .normal .row .clr:hover{
    background-color: #aaa69d;
}

.wrapper .normal .row .n-btn:active{
    transition-duration: 0s;
    background-color: #445e79;
}

/* ---Responsive--- */
@media(max-width: 500px){
    .wrapper .normal .row .btn{
        max-width: 50px;
        min-height: 50px;
    }
}